name: Build and Upload to Nexus

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Get short Git hash
        id: get-git-hash
        run: |
          GIT_HASH=$(git rev-parse --short HEAD)
          echo "GIT_HASH=$GIT_HASH" >> $GITHUB_ENV

      - name: Build project
        run: ./gradlew build

      - name: Find JAR file
        id: find-jar
        run: |
          JAR_FILES=(build/libs/ParadiseClient-*.jar)
          BASE_JAR_FILES=()
          for file in "${JAR_FILES[@]}"; do
            if [[ ! "$file" == *"-dev.jar" && ! "$file" == *"-sources.jar" ]]; then
              BASE_JAR_FILES+=("$file")
            fi
          done

          if [ ${#BASE_JAR_FILES[@]} -ne 1 ]; then
            echo "Error: Expected exactly one base version JAR file, found ${#BASE_JAR_FILES[@]}"
            exit 1
          fi

          JAR_FILE="${BASE_JAR_FILES[0]}"
          JAR_NAME=$(basename "$JAR_FILE")
          echo "JAR_FILE=$JAR_FILE" >> $GITHUB_ENV
          echo "JAR_NAME=$JAR_NAME" >> $GITHUB_ENV

      - name: Upload artifact to Nexus
        run: |
          RELEASE_DATE=$(TZ='Asia/Kolkata' date -d @$(git log -1 --format=%ct) +'%Y-%m-%d %H:%M:%S')
          curl -X PUT "https://paradise-client.net/api/versions" \
               -u ${{ secrets.NEXUS_USERNAME }}:${{ secrets.NEXUS_PASSWORD }} \
               -F "file=@${{ env.JAR_FILE }}" \
               -F "version=${{ env.GIT_HASH }}" \
               -F "release_date=${RELEASE_DATE}"

      - name: Send Discord embed notification
        if: success()
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
          GIT_HASH: ${{ env.GIT_HASH }}
          REPO: ${{ github.repository }}
          AUTHOR: ${{ github.actor }}
          AVATAR_URL: "https://github.com/${{ github.actor }}.png"
        run: |
          DESCRIPTION=$'**Version:** `'"$GIT_HASH"'`\n**Downloads:** [paradise-client.net/downloads](https://paradise-client.net/downloads/)\n**Commit:** [`"$GIT_HASH"`](https://github.com/'"$REPO"'/commit/'"$GIT_HASH"')'

          EMBED_JSON=$(jq -n \
            --arg title "Paradise Client Build Released" \
            --arg desc "$DESCRIPTION" \
            --arg color "5763719" \
            --arg timestamp "$(date -u +"%Y-%m-%dT%H:%M:%SZ")" \
            --arg author_name "$AUTHOR" \
            --arg author_icon "$AVATAR_URL" \
            '{embeds: [{title: $title, description: $desc, color: ($color | tonumber), timestamp: $timestamp, author: {name: $author_name, icon_url: $author_icon}}]}' )

          curl -H "Content-Type: application/json" \
               -X POST \
               -d "$EMBED_JSON" \
               "$DISCORD_WEBHOOK_URL"
